
@{
    ViewBag.Title = "CrearPlaneacion";
    Layout = "~/Views/Shared/_LayoutPlaneacion.cshtml";
}

<!-- page content -->
<div class="x_panel">
    <div class="x_title">
        <h2>Crear Planeacion</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="well" style="overflow: auto">
            <div class="col-sm-3">
                <div class="form-group">
                    WH
                    <div class="input-group date">
                        <select class="form-control" id="ddlWH"></select>
                        <span class="input-group-addon">
                            <span class="fa fa-list-alt"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="caratula">
        </div>
        @*@Html.Action("ConsultaSkus", "planeacion", new { wh = "1X" })*@
    </div>
</div>
<!-- /page content -->

<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="~/build/images/loading.gif" class="icon" />
                    <h5><span class="modal-text">Procesando, Espere por favor... </span></h5>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link href="~/Content/progress-modal.css" rel="stylesheet" />
}

@section Scripts{
    <script>
        $(function () {
            var ddlCustomers = $("#ddlWH");
            ddlCustomers.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading ...</option>');
            $.ajax({
                type: "POST",
                url: "/planeacion/ListaWH",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    ddlCustomers.empty().append('<option selected="selected" value="0">Seleccione una opcion...</option>');
                    $.each(response, function () {
                        ddlCustomers.append($("<option></option>").val(this['Value']).html(this['Text']));
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $("#ddlWH").on('change', function () {
            var $modal = $("#processing-modal");
            var wharehouse = this.value;
            $modal.modal('show');
            setTimeout(function () {
                $.ajax({
                    type: "GET",
                    url: "/planeacion/ConsultaSkus",
                    data: { wh: wharehouse },
                    contentType: "charset=utf-8",
                    success: function (response) {
                        $("#caratula").html(response);
                        $modal.modal('hide');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }, 1800);
        });
    </script>
}