
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPlaneacion.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>In Transit</h2>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" href="@Url.Action("Cargar", new { error = "" })"><i class="fa fa-upload"></i>&nbsp;&nbsp;Cargar Archivo</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="well" style="overflow:auto">
                    <div class="col-sm-3">
                        SKU
                        <div class="form-group">
                            <div class="input-group">
                                <input id="txtSKU" type="text" class="form-control" placeholder="SKU" />
                                <span class="input-group-addon">
                                    <span class="fa fa-barcode"></span>
                                </span>
                            </div>
                        </div>
                    </div>                   
                </div>
                <table id="table" class="table table-bordered jambo_table" width="100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>SKU</th>
                            <th>Descripcion</th>
                            <th>Lot Number</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/Scripts/toastr.js"></script>
    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            table = $("#table").DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "processing": true,
                "serverSide": true,
                "dom": 'Blrtip',
                "columnDefs": [{
                    targets: [1,2,3], className: 'dt-body-center text-center'
                }],
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>',
                        titleAttr: 'COPIAR',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {

                        extend: 'print',
                        text: '<i class="fa fa-print"></i>',
                        titleAttr: 'IMPRIMIR',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        titleAttr: 'EXCEL',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        titleAttr: 'PDF',
                        orientation: 'landscape',
                        exportOptions: {
                            columns: ':visible'
                        }
                    }

                ],
                "ajax": {
                    "url": "/intransit/ObtenerInTransit",
                    "type": "POST",
                    "datatype": "json"
                },
                "aoColumns": [
                    //0
                    { "data": "id", "autoWidth": true, "visible": false },
                    { "data": "item_num", "autoWidth": true },   
                    { "data": "item_description", "autoWidth": true },   
                    { "data": "lot_number", "autoWidth": true },   
                ]
            });

            $('#txtSKU').on('keyup', function () {
                table.columns(0).search(this.value).draw();
            });                   
        });       
    </script>
}